<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Some stuff about me will go here</h1>
    <div>
        <ul>Born: June 7, 1997</ul>
        <ul>Ethnicity: Korean</ul>
        <ul>Allergies: none</ul>
        <ul>Height: 6'2"</ul>

        <ul><%= fave[0]%></ul>
        <ul><%= fave[1]%></ul>
        <ul><%= fave[2]%></ul>

        <% fave.forEach((f)=>{ %>
            <li><%= f %></li>
        <% }) %>
    </div>

</body>
</html>