<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-directory</title>
</head>
<body>
    <h1>Blog-Directory</h1>
    <h3>Welcome to the blog directory!
        <br> 
        Here you will find all things you need to know!
    </h3>
    <p></p>
</body>
</html>