<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>We're so excited that you've chosen our website to view!
        <br>
        Hello, <%= name %>, please enjoy your stay.
    </p>

    <p>Please prove us your name:</p>
    <form action="Submit">
        <input type="text">
        <button type="button">submit</button>
    </form>
</body>
</html>